body {
    font-family: Arial, sans-serif;
    background-color: #edcfff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #ee05c7;
}

label, textarea, select, button {
    display: block;
    margin-bottom: 10px;
}

textarea {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
    border: #80006f;
    resize: none;
    font-size: 16px;
}

select {
    border-radius: 20px; 
    border: #80006f;
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }
  

button {
    background-color: #ee05c7;
    color: white;
    border: none;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #410038;
}

textarea[readonly] {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    resize: none;
    background-color: transparent;
}

